.DS_Store
.env
.env.*
!.env.example
!.env.docker.example
**/.env
**/.env.*
!**/.env.example
.git
.github
.idea
.vscode
coverage
dist
**/coverage
**/dist
**/node_modules
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
tmp
